<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36353781135-av40c47sl8l8hqerr6ssj30hoqrednhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36353781135-av40c47sl8l8hqerr6ssj30hoqrednhv</string>
	<key>API_KEY</key>
	<string>AIzaSyDv2_COxhv-1bbmpNBg2R7_o5qbMwHBLrg</string>
	<key>GCM_SENDER_ID</key>
	<string>36353781135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dankunda.Studious</string>
	<key>PROJECT_ID</key>
	<string>cis454-1675f</string>
	<key>STORAGE_BUCKET</key>
	<string>cis454-1675f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36353781135:ios:8204afbc7e34e0f9cfeffa</string>
	<key>DATABASE_URL</key>
	<string>https://cis454-1675f.firebaseio.com</string>
</dict>
</plist>